{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never",
    }]
  },
  "plugins": [
    "mocha"
  ],
  "env": {
    "mocha": true
  }
}
